
body, html {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
a {
  color: #2d8de3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.content {
  width: 320px;
  height: 100%;
}
#landing, #second_page, #third_page, #fourth_page {
  /*display: none;*/
}
#donation {
  font-family: 'Dosis';
}
#crayon_img {
  margin: 0 auto;
  background: url('../img/crayon.png') no-repeat;
  background-size: 100%;
  width: 250.5px;
  height: 219px;
}
#donation .title {
  color: #3e3e3e;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}
#donation .body {
  margin: 0 20px;
  font-size: 1.3em;
  color: #3e3e3e;
}
#donation .amount {
  color: #3e3e3e;
  float: right;
  font-size: 1.5em;
  margin-top: -5px;
}
#donation .amount input {
  width: 50px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0 15px;
}
#donation .footer {
  margin-top: 15px;
  padding: 0 20px;
}
#donation .enterAmount {
  font-size: 1.3em;
  font-weight: bold;
  color: #2d8de3;
  font-family: 'Dosis';
}
#contribution_page .title {
  font-family: 'Dosis';
  color: #3e3e3e;
  font-size: 2.2em;
  text-align: center;
  font-weight: bold;
}
#contribution_page .chart {
  background: url('../img/chart.png') no-repeat;
  background-size: 100%;
  margin: 30px auto;
  width: 213px;
  height: 213px;
}
#contribution_page .dotText {
  margin: 25px 20px;
}
#contribution_page span {
  position: relative;
  top: 3px;
  font-family: 'Dosis';
  font-size: 1.2em;
}
#contribution_page .dot {
  vertical-align: middle;
  margin-right: 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
#contribution_page .yellow {
  background-color: #fbcf33;
}
#contribution_page .blue {
  background-color: #3d91df;
}
#contribution_page .red {
  background-color: #bf4c40;
}
#donation .btn {
  background-color: #2d8de3;
  border: 0;
  color: #fff;
  font-size: 1.2em;
  padding: 8px 15px;
  font-weight: bold;
}
#donation .supportBtns {
  margin-top: 15px;
}
#contribution {
  margin-top: 25px;
  margin-bottom: 25px;
}

#contribution .title {
  color: #2d8de3;
  font-family: 'Dosis';
  font-size: 1.2em;
  text-align: center;
}
#donation .right {
  float: right;
  margin-right: 15px;
}
#landing {
  padding-top:20px;
  width: 100%;
  height: 100%;
  min-height: 444px;
  background: url('../img/wallpaper_iphone.jpg') no-repeat;
  background-size: 100%;
}
#doodels_logo {
  /*border: 1px solid #fff;*/
  margin: 0 auto;
  width: 253.5px;
  height: 60px;
  background: url('../img/doodels_logo.png') no-repeat;
  background-size: 100%;
}

#slogan {
  margin-top: 40px;
  color: #fff;
  text-shadow: 3px 3px 3px #222;
}

#slogan_number {
  font-family: 'Archivo Narrow';
  font-weight: bold;
  font-size: 6.5em;
  position: absolute;
  right: -75px;
  top: 50px;
}

#slogan_rainbow {
  position: relative;
  width: 236.5px;
  height: 149px;
  background: url('../img/landing_rainbow.png') no-repeat;
  background-size: 100%;
}

#slogan_text {
  margin-top: 10px;
  letter-spacing: 75%;
  margin-left: 10px;
  line-height: .76em;
  width: 300px;
  font-family: 'Dosis';
  font-size: 3.5em;
}

#slogan_text span {
  color: #44c2ee;
}
#second_page .title {
  margin: 20px 20px 0;
  width: 260.5px;
  height: 61.5px;
  background: url('../img/more_than.png') no-repeat;
  background-size: 100%;
}
.text {
  margin: 0 20px;
  color: #2c2c2c;
  font-family: 'Dosis';
  font-size: 1.7em;
  line-height: 110%;
  margin-top: 20px;
}
#second_page .doodel {
  margin: 35px auto 0;
  width: 288px;
  height: 323.5px;
  background: url('../img/2nd_doodel.png') no-repeat;
  background-size: 100% !important;
}

.text span {
  color: #1c86d3;
}

#third_page {
  margin-top: 10px;
}
#third_page .title {

  margin: 0 auto;
  color: #1c86d3;
  width: 240px;
  font-family: 'Dosis';
  font-size: 1.5em;
  text-align: center;
}
#third_page .title span {
  margin-top: 10px;
}
#third_page .title .left {
  float: left;
  display: block;
  width: 37.5px;
  height: 28.5px;
  background: url('../img/leftDownArrow.png') no-repeat;
  background-size: 100%;
}

#third_page .title .right {
  float: right;
  display: block;
  width: 37.5px;
  height: 28.5px;
  background: url('../img/rightDownArrow.png') no-repeat;
  background-size: 100%;
}

#third_page .doodle {
  clear: both;
  margin: 20px auto 0;
  width: 300px;
}

#third_page .doodle-left {
  float: left;
  width: 148.5px;
  height: 178px;
  background: url('../img/third_page_doodel_2.png') no-repeat;
  background-size: 100%;
}

#third_page .doodle-right {
  float: right;
  width: 148.5px;
  height: 176px;
  background: url('../img/third_page_doodel_1.png') no-repeat;
  background-size: 100%;
}
#third_page .footer {
  margin-left: 20px;
  width: 251px;
  height: 79px;
  background: url('../img/third_page_oneDoodle.png') no-repeat;
  background-size: 100%;
}
.clear {
  clear: both;
}

#divider {
  margin: 25px auto;
  width: 298px;
  height: 8.5px;
  background: url('../img/divider.png') no-repeat;
  background-size: 100%;
}
#third_page .footer2 {
  width: 311.5px;
  height: 222px;
  margin: 20px auto;
  background: url('../img/placeholder.png') no-repeat;
  background-size: 100%;
}
#fourth_page .title {
  width: 295px;
  height: 72px;
  background: url('../img/howsimple.png') no-repeat;
  background-size: 100%;
}
.text p {
  margin: 10px 0;
}
#fourth_page .text span {
  margin-right: 10px;
}
#fourth_page .text .yel {
  margin-left: 55px;
}
#fourth_page .footer {
  color: #1c86d3;
  font-family: 'Dosis';
  font-size: 1.7em;
  width: 130px;
  float: right;
  margin: 10px 55px 0 0;
}
#appstore {
  width: 216px;
  height: 71.5px;
  background: url('../img/appstore.png') no-repeat;
  background-size: 100%;
  margin: 35px auto 0;
}
#appstore a {
  display: inline-block;
  width: 216px;
  height: 71.5px;

}
.footer .leftToparrow {
  float: left;
  margin-right: 5px;
  width: 43px;
  height: 30px;
  background: url('../img/leftTopArrow.png') no-repeat;
  background-size: 100%;
}
span.yel {
  color: #ffa200;
}
#fifth_page {
  margin-top: 35px;
}
#fifth_page .title {
  width: 258px;
  height: 68px;
  background: url('../img/theteam.png') no-repeat;
  background-size: 100%;
}
.team {
  background-size: 100% !important;
  width: 128.5px;
  height: 128.5px;
  margin-bottom: 35px;
  text-align: center;
  font-size: .9em;
}
#fifth_page .text {
}
.team span {
  position: relative;
  bottom: -130px;
  margin-top: 80px;
}
#fifth_page .left {
  float: left;
}
#fifth_page .right {
  float: right;
}
#amee {
  background: url('../img/amee.png') no-repeat;
}

#JR {
  background: url('../img/JR.png') no-repeat;
}

#rae {
  background: url('../img/rae.png') no-repeat;
}

#janelle {
  background: url('../img/janelle.png') no-repeat;
}

#tobi {
  background: url('../img/tobi.png') no-repeat;
}

#beau {
  background: url('../img/beau.png') no-repeat;
}

#jayson {
  background: url('../img/jayson.png') no-repeat;
}

#jon {
  background: url('../img/jayson.png') no-repeat;
}

.social_btns {
  display: inline-block;
  width: 75px;
  height: 74px;
  background-size: 100% !important;
  margin: 0 5px;
}
#fb_btn {
  cursor: pointer;
  background: url('../img/fb_btn.png') no-repeat;
}
#twitter_btn {
  background: url('../img/twitter_btn.png') no-repeat;
}
#email_btn {
  background: url('../img/email_btn.png') no-repeat;
}
#fifth_page .footer {
  text-align: center;
  width: 280px;
  margin: 35px auto;
}
#fifth_page .text p {
  line-height: 75%;
  text-align: center;
  font-size: .8em;
}
